@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
}

.headerWithFont{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.bg-kente{
  background-image: url('./assets/images/kente1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-creatives{
  background-image: url('./assets/images/kente2.png');
  background-position: left;
  background-repeat: repeat;
  background-size:auto;
  background-color:orangered;
}

.divider{
  content: "";
  width:1px;
  background-color: black;
  height: 20px;
}

.bg-join-us{
  background-image: url('./assets/images/kente3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#scroll-container {
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(200%);
    -webkit-transform: translateX(200%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}